<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.getCategory()}"></title>
    <link rel="shortcut icon" type="image/png" th:href="@{/imgs/favicon.png}"/>
    <link th:href="@{/css/default.css}" rel="stylesheet">
</head>
<body>
<div style="color: #D35400;">
    <em><h3 th:text="${question.getCategory()}"></h3></em>
    <h2 style="font-size: 40px;" th:text="${question.getContent()}"></h2>
    <form th:action="${category.getUrlPath()}">
        <button type="submit">Next question!</button>
    </form>
    <br>
    <form action="/">
        <button class="question-button" type="submit">Back!</button>
    </form>
    <br>
</div>

</body>
</html>