<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/imgs/favicon.png}"/>
    <link th:href="@{/css/default.css}" rel="stylesheet">
</head>
<body>
<div class="head-div">
    <br>
    <h1>Reset questions</h1>
    <br>
</div>

<div class="body-div" th:each="category : ${categories}">
    <h1 th:text="${category.getName()}" style="color:white;"></h1>
    <form th:action="${category.getToReset()}">
            <button type="submit">Reset</button>
        </form>
</div>

<div class="body-div">
    <br>
    <form action="/">
        <button type="submit">Back!</button>
    </form>
    <br>
</div>
</body>
</html>